<link rel="stylesheet" href="/css/navbar.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/index">Home</a>
            <li><a href="/cart/view-books">Add to cart</a></li>
            <li><a href="/cart/view-cart">View Cart</a></li>
            <li><a href="/logout">Sign out</a></li>
        </ul>
    </nav>
    <footer class="footer">
        <p>&copy; 2023 Bookstore Management System. All rights reserved.</p>
        <a href="https://github.com/Javid-Shaik">Javid-Shaik</a>
    </footer>
</body>