*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar Styles */
.navbar {
    background-color: #007bff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ff6b01;
}

/* Footer Styles */
.footer {
    background-color: #0c0c0c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #ff6b01;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #ff8c3a;
}
