/* Profile page CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Profile page CSS */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url('https://as2.ftcdn.net/v2/jpg/01/64/37/35/1000_F_164373509_V2qqmZuSVW1Wrtp6LpW1YVvABdr12cAO.jpg'); /* Replace with the URL of your background image */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background to the profile box */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.profile-info {
  flex-grow: 1;
}

.profile p {
  margin-bottom: 10px;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  animation: pulse 2s infinite alternate;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

.edit-profile-button, .logout-button {
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.edit-profile-button {
  background-color: #007bff;
}

.logout-button {
  background-color: #dc3545;
}

/* Animations */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
