<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="/css/cart/view-books.css">
    <title>View Books</title>
</head>
<body>
    <%- include('../header.ejs') %>
    <h1>View Books</h1>

    <ul id="books-list"></ul>
    <div class="pagination">
        <button id="prev-page">Prev</button>
        <div id="page-num-container"></div>
        <button id="next-page">Next</button>
    </div>

    <script>
        function showDetails(bookId) {
            const detailsDiv = document.getElementById(`details${bookId}`);
            const showButton = document.getElementById(`show-details-btn-${bookId}`);
            const modal = document.getElementById(`myModal${bookId}`);
            if (modal.style.display === 'none') {
                modal.style.display = "block";
                // detailsDiv.style.display = 'block';
                showButton.innerHTML = '<i class="fas fa-times-circle"></i>';
            } else {
                modal.style.display='none';
                showButton.innerHTML = '<i class="fas fa-info-circle"></i>';
            }

            const closeModalBtn = document.getElementById(`closeModal${bookId}`);
            const closeModalContentBtn = document.getElementById(`closeModalBtn${bookId}`);

            // Close the modal when the close button is clicked
            closeModalBtn.addEventListener("click", () => {
                modal.style.display = "none";
                showButton.innerHTML = '<i class="fas fa-info-circle"></i>';
            });

            // Close the modal when the close button inside the modal content is clicked
            closeModalContentBtn.addEventListener("click", () => {
                modal.style.display = "none";
                showButton.innerHTML = '<i class="fas fa-info-circle"></i>';
            });

            // Close the modal when clicking outside the modal content
            window.addEventListener("click", (event) => {
                if (event.target === modal) {
                    modal.style.display = "none";
                    showButton.innerHTML = '<i class="fas fa-info-circle"></i>';
                }
            });
        }

        // Function to add a book to the user's cart
        async function addToCart(bookId , userId) {
            const  modal = document.getElementById(`myModal${bookId}`);
            const description = modal.querySelector('p');
            try {
            const response = await fetch('/cart/add-to-cart', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify({ userId, bookId }),
            });
        
            if (response.ok) {
                // If the response status is in the 200 range (e.g., 200 OK), handle success
                const data = await response.json(); // Parse the response body as JSON
                if (data.message) {
                    description.textContent = data.message;
                    if (modal.style.display === 'none') {
                        modal.style.display = "block";
                    } else {
                        modal.style.display='none';
                    }
                  //alert(data.message); // Show the success message from the server
                } else {
                    
                    if (modal.style.display === 'none') {
                        description.textContent = "Book added to cart";
                        modal.style.display = "block";
                    } else {
                        modal.style.display='none';
                    }
                 // alert('Book added to cart.'); // A generic success message
                }
              } else {
                // If the response status is not in the 200 range, handle error
                alert('Error adding book to cart.');
              }
            } catch (error) {
              console.error('Error adding to cart:', error);
              alert('Error adding book to cart.');
            }

            const closeModalBtn = document.getElementById(`closeModal${bookId}`);
            const closeModalContentBtn = document.getElementById(`closeModalBtn${bookId}`);

            // Close the modal when the close button is clicked
            closeModalBtn.addEventListener("click", () => {
                modal.style.display = "none";
            });

            // Close the modal when the close button inside the modal content is clicked
            closeModalContentBtn.addEventListener("click", () => {
                modal.style.display = "none";
            });

            // Close the modal when clicking outside the modal content
            window.addEventListener("click", (event) => {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            });
        }

    </script>
    <script> 
        const books = '<%- JSON.stringify(books) %>';
        const sessionUser = '<%- JSON.stringify(user) %>';
    </script>
    <script src="/js/view-books.js"></script>
</body>
</html>

