<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="/css/cart/view-books.css">
    <title>View Books</title>
</head>
<body>
    <%- include('../header.ejs') %>
    <h1>View Books</h1>

    <ul id="books-list"></ul>
    <div class="pagination">
        <button id="prev-page">Prev</button>
        <div id="page-num-container"></div>
        <button id="next-page">Next</button>
    </div>

    <script>
        function showDetails(bookId) {
            const detailsDiv = document.getElementById(`details${bookId}`);
            const showButton = document.getElementById(`show-details-btn-${bookId}`);
            if (detailsDiv.style.display === 'none') {
                detailsDiv.style.display = 'block';
                showButton.innerHTML = '<i class="fas fa-times-circle"></i>';
            } else {
                detailsDiv.style.display = 'none';
                showButton.innerHTML = '<i class="fas fa-info-circle"></i>';
            }
        }

        // Function to add a book to the user's cart
        async function addToCart(bookId , userId) {
            try {
            const response = await fetch('/cart/add-to-cart', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify({ userId, bookId }),
            });
        
            if (response.ok) {
                // If the response status is in the 200 range (e.g., 200 OK), handle success
                const data = await response.json(); // Parse the response body as JSON
                if (data.message) {
                  alert(data.message); // Show the success message from the server
                } else {
                  alert('Book added to cart.'); // A generic success message
                }
              } else {
                // If the response status is not in the 200 range, handle error
                alert('Error adding book to cart.');
              }
            } catch (error) {
              console.error('Error adding to cart:', error);
              alert('Error adding book to cart.');
            }
        }

    </script>
    <script> 
        const books = '<%- JSON.stringify(books) %>';
        const sessionUser = '<%- JSON.stringify(user) %>';
    </script>
    <script src="/js/view-books.js"></script>
</body>
</html>

